[submodule "site-lisp/emacs-application-framework"]
	path = site-lisp/emacs-application-framework
	url = ssh://edmondfrank@175.178.76.69:1022/edmondfrank/emacs-application-framework.git
[submodule "site-lisp/lsp-bridge"]
	path = site-lisp/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
[submodule "site-lisp/citre"]
	path = site-lisp/citre
	url = git@github.com:universal-ctags/citre.git
[submodule "site-lisp/kubel"]
	path = site-lisp/kubel
	url = git@github.com:abrochard/kubel.git
[submodule "site-lisp/emacs-websocket"]
	path = site-lisp/emacs-websocket
	url = https://github.com/ahyatt/emacs-websocket.git
[submodule "priv"]
	path = priv
	url = ssh://edmondfrank@175.178.76.69:1022/edmondfrank/priv.git
[submodule "site-lisp/blink-search"]
	path = site-lisp/blink-search
	url = https://github.com/manateelazycat/blink-search.git
[submodule "site-lisp/emacs-rime"]
	path = site-lisp/emacs-rime
	url = ssh://edmondfrank@175.178.76.69:1022/edmondfrank/emacs-rime.git
[submodule "site-lisp/emacs-everywhere"]
	path = site-lisp/emacs-everywhere
	url = ssh://edmondfrank@175.178.76.69:1022/edmondfrank/emacs-everywhere.git
[submodule "site-lisp/sdcv"]
	path = site-lisp/sdcv
	url = https://github.com/manateelazycat/sdcv.git
[submodule "site-lisp/aider.el"]
	path = site-lisp/aider.el
	url = https://github.com/tninja/aider.el.git
