/url/cache
/.emacs.desktop
/auto-save-list
/eww-bookmarks
/network-security.data
/.session
/session.*
custom.el
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/.org-id-locations
cookies
/newsticker
\#*
/tree-sitter
/elpa
/elpa-*
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/.dap-breakpoints
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
/helm-adaptive-history
/thumbs/
/emms/
/.smex-items
/image-dired/
/eshell
/.cask/
/.sx/
/org-clock-save.el
/ditaa*.jar
/ido.last
/recentf
/viper
/projectile-bookmarks.eld
/anaconda-mode/
/.historian
/.uptimes.el
/rake.cache
/plantuml.jar
/magithub
.cache/
/forge-database.sqlite
/transient
/.trello
/color-rg
diary
/emacs-libvterm
/leetcode
/nov-places
/pyim
/snails
/request
/.lsp-session-v1
/smex-items
/eln-cache/
/projects
/eaf
/projectile.cache
/eglot-eclipse-jdt-cache
/blink-search
/lsp-bridge
/private
/devdocs
/workspace
snails.db
/forge-*.sqlite
